@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;600&family=Poppins:wght@400;500;600;700&family=Roboto+Condensed&family=Staatliches&display=swap');
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

:root {
    --background: #DDDDDD;
    --slideDruation: 2s;
    --fadeDruation: 2.5s;
    --navlinkHoverColor: aliceblue;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    color: black;
}

li,
a {
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15%;
    background-color: var(--background);
    font-family: 'Lato', sans-serif;
    position: fixed;
    width: 100%;
    z-index: 1500;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: var(--navlinkHoverColor)
}

.contact_me {
    transition: all 0.3s ease 0s;
}

.contact_me:hover {
    color: var(--navlinkHoverColor)
}

.top_container {
    height: 100vh;
}

.introduction {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 40%;
    opacity: 0.7;
    border-radius: 15px;
}

.hello_text {
    letter-spacing: 6px;
    text-align: center;
    font-size: 20px;
    animation-duration: var(--slideDruation);
}

.fade_in {
    animation-duration: var(--fadeDruation);
    animation-name: animation_fade_in;
}

@keyframes animation_fade_in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.slide_top_to_botom {
    animation-name: top_to_botom;
    animation-timing-function: linear;
}

@keyframes top_to_botom {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(0);
    }
}

.slide_botom_to_top {
    animation-name: botom_to_top;
    animation-timing-function: linear;
}

@keyframes botom_to_top {
    from {
        transform: translateY(100px);
    }

    to {
        transform: translateY(0);
    }
}

.name {
    font-size: 50px;
}

.job {
    font-size: 25px;
    text-align: center;
    animation-duration: var(--slideDruation);
}

.flower {
    opacity: 0.3;
    height: 144px;
    animation-duration: 8s;
    animation-name: flower_grow;
    animation-timing-function: linear;
    z-index: -1;
}

@keyframes flower_grow {
    0% {
        height: 0px;
        opacity: 0;
    }

    20% {
        height: 0px;
        opacity: 0;
    }

    80% {
        opacity: 1;
        height: 144px;
    }

    85% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}

.flower_left {
    position: absolute;
    transform: translate(-100%, -100%);
    left: 40.2%;
    top: 41.8%;
}

.flower_right {
    position: absolute;
    transform: translate(0, -100%);
    left: 59.8%;
    top: 41.8%;
}

.about_me {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 80%;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    font-size: 20px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.about_me_text {
    /* obmedzenie riadku medzi 40 a 70 charaktermi, idealne-50%; prvok bude zaberat 50% sirky rodica ale nikdy nie menej
    nez 45ch a viac nez 75ch */
    text-align: center;
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
    font-family: 'Titillium Web', sans-serif;
    line-height: 2;
}

.work_experience {
    height: auto;
    padding-top: 20px;
}

.work_experience_header {
    text-align: center;
    margin: 60px 0;
}

.work_container {
    position: relative;
    border: 3em;
    border-width: 3px;
    border-style: solid;
    border-color: #E3EEFF;
    box-shadow: 10px 10px 8px var(--background);
    display: flex;
    border-radius: 20px;
    width: 694px;
    height: auto;
    /* font-size: 1rem; */
    transform: translateX(-50%);
    margin-top: 30px;
}

.work_container_left {
    left: 40%;
}

.work_container_right {
    left: 60%;
}

.employment {
    text-align: start;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    flex-basis: 23%;
    margin-top: 17px;
    flex-wrap: wrap;
}

.work_logo {
    width: 25px;
    height: 25px;
    margin-top: 15px;
    display: flex;
    flex-basis: 7%;
}

.work_description {
    text-align: start;
    flex-basis: 50%;
    padding: 10px;
    list-style-position: inside;
}

.work_description li::before {
    content: "-";
    color: #838383;
    display: inline-block;
    font-weight: bold;
    width: 0.5em;
    margin-left: -1em;
}

.time_period {
    padding-right: 15px;
    flex-basis: 20%;
    text-align: end;
}

.section_portfolio {
    margin: auto;
    max-width: 60%;
    height: auto;
}

.portfolio_header {
    text-align: center;
    margin: 60px auto;
}

.container_portfolio {
    padding-bottom: 3rem;
    display: flex;
    height: auto;
    gap: 30px;
    margin: auto;
}

.vertical_line {
    border-left: 1px solid var(--background);
    height: auto;
}

iframe {
    height: 360px;
    width: 640px;
    display: flex;
    box-shadow: 10px 10px 8px var(--background);
}

.technology {
    text-align: start;
    padding-top: 5px;
}

.portfolio_description {
    list-style-position: inside;
    flex-grow: 1;
}

.portfolio_technology {
    list-style-position: inside;
    flex-grow: 1;
}

.properties {
    margin: 10px 0;
}

.footer-hr {
    margin-top: 50px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.footer-container {
    width: auto;
    height: 5em;
}

.footer-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top: 50px;
}

.social_media_container {
    display: block;
    text-align: center;
}

.find_me {
    font-family: 'The Nautigal', cursive;
    text-align: center;
    font-size: 3rem;
    color: darkgray;
    margin: 20px auto;
}

.social_logo {
    width: 30px;
    height: 30px;
}

.copyright {
    margin-bottom: 0;
    padding: 20px 0;
    font-size: 15px;
    text-align: center;
}

@keyframes scale {
    100% {
        transform: scale(1);
    }
}

/* Extra large devices (desktops, 2560 and up) */

@media (min-width: 2500px) {
    .flower_left {
        left: 42.6% !important;
    }

    .flower_right {
        left: 57.5% !important;
    }

    .section_portfolio {
        max-width: 50%;
    }
}

/* Extra large devices (laptops/desktops, 1920 and up) */

@media (min-width: 1920px) {

    li,
    a {
        font-size: 1.2rem;
    }

    .about_me_text {
        font-size: 1.3rem;
    }

    .work_container_left {
        left: 40%;
    }

    .work_container_right {
        left: 60%;
    }

    .flower_left {
        left: 40%;
        top: 41.6%;
    }

    .flower_right {
        left: 60%;
        top: 41.6%;
    }

    .section_portfolio {
        max-width: 60%;
    }

}

/* Macbook 13 Air (1440 and down) */
@media (max-width: 1440px) {
    .work_experience_header {
        text-align: center;
    }

    .properties {
        list-style-position: inside;
    }

    .list_properties {
        margin: 0;
    }

    .flower_left {
        left: 37%;
    }

    .flower_right {
        left: 63%;
    }

    .section_portfolio {
        max-width: 80%;
        margin: auto;
    }
}

/* Middle devices (phones, 720 and down) */
@media (max-width: 720px) {

    .introduction {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 30%;
        font-family: 'Lato', sans-serif;
    }

    .about_me {
        font-size: 1rem;
        left: 50%;
        top: 70%;
    }

    .work_container {
        width: 380px;
        height: auto;
        display: block;
    }

    .work_container_left {
        left: 50%;
    }

    .work_container_right {
        left: 50%;
    }

    .work_description {
        list-style-position: inside;
    }

    iframe {
        width: 260px;
        height: 340px;
        margin: 0 30px;
    }

    .technology {
        margin: 0 30px;
    }

    .contact-me {
        padding-left: 0px;
    }

    .portfolio_header {
        margin: 160px 0 70px 0;
    }

    .list_properties {
        margin-left: 60px;
    }
}

/* Extra small devices (phone 12 pro, 585px and down) */
@media (max-width: 585px) {

    .description {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0 1em;
    }

    .about_me_text {
        font-size: 1rem;
    }

    .work_container {
        width: 380px;
        height: auto;
        display: block;
    }

    .work_container_left {
        left: 50%;
    }

    .work_container_right {
        left: 50%;
    }

    .work_description {
        list-style-position: inside;
    }

    iframe {
        width: 260px;
        height: 340px;
        margin: 0 30px;
    }

    .technology {
        margin: 0 30px;
    }

    .contact-me {
        padding-left: 0px;
    }

    .portfolio_header {
        margin: 160px 0 70px 0;
    }

    .list_properties {
        margin-left: 60px;
    }
}

.debug_button {
    position: fixed;
    bottom: 0;
    left: 0;
}