:root {
    --dark-blue: #4C5FD5;
    --black: #000000;
    --light-blue: #dadbf1;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: ’Lato’, sans-serif;
}

footer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h1 {
    text-align: center;
    padding-top: 70px;
}

h3 {
    color: #fff;
    font-family: 'GT America Standard', sans-serif;
}

ul {
    list-style: none;
    padding-left: 0;
}

footer {
    background-color: #000000;
    color: #bbb;
    line-height: 1.5;
}

footer a {
    text-decoration: none;
    color: #eee;
}

a:hover {
    text-decoration: underline;
}

.ft-title {
    color: #fff;
    font-family: ’Merriweather’, serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
}

.layout {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.navbar-container {
    display: flex;
    position: relative;
    width: 100%;
    height: 88px;
    background-color: var(--black);
    font-size: 17px;
}

.button {
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 6px 22px;
    height: 60%;
    line-height: 1.5;
    background-color: #000000;
    color: #eee;
    font-size: 0.8rem;
    margin-bottom: 0;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    margin: auto 1rem;
}

.navbar {
    width: 90%;
    align-items: center;
    max-width: 1900px;
    color: #dadbf1;
    display: flex;
    gap: 10px;
    margin-left: 10%;
}

header ul li {}

.search {
    background-color: var(--light-blue);
    width: 100%;
    height: 300px;
    text-align: center;
}

.search-container {
    float: center;
}

input[type=text] {
    padding: 6px;
    font-size: 60%;
    border: none;
}

.top-submit {
    float: center;
    padding: 6px;
    margin-right: 16px;
    background: #ddd;
    font-size: 0.7rem;
    border: none;
    cursor: pointer;
}

.search-container button:hover {
    background: #ccc;
}

.container {
    height: 750px;
    width: 70%;
    margin: auto;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.content {
    display: flex;
    padding-right: 15px;
    margin-bottom: 3rem;
    margin-top: 50px;
    max-width: 50%;
}

.content-icon {
    display: flex;
    max-width: 100px;
    margin: 15px;
}

.icon-image {
    width: 80px;
}

.content-text {
    max-width: 700px;
    font-size: 0.7em;
    text-align: center;
    flex-basis: 80%;
    margin-right: 20px;
    text-align: start;
}

.content-text-header {
    text-align: start;
    font-weight: bold;
}

.ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8rem;
}

.ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem;
}

form {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

input[type="email"] {
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
}

input[type="submit"] {
    background-color: #00d188;
    color: #000000;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
}

.ft-social {
    padding: 0 1.875rem 1.25rem;
}

.ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 1.25rem;
}

.ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
}

.ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: #000000;
}

.ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
}

/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
    flex: 1;
    /* same as flex-grow: 1; */
}

@media (max-width: 650px) {
    .navbar-container {
        height: 40px;
        font-size: 10px;
    }

    .container {
        align-items: center;
        font-size: 0.8em;
        margin-bottom: 50px;
    }

    .content-container {
        margin-top: 0;
    }

    h1 {
        font-size: 15px;
    }

    .search-container {
        float: center;
    }

    input[type=text] {
        font-size: 10%;
        border: none;
        height: 10px;
        width: 50px;
    }

    .submit {
        font-size: 20%;
        background: #ddd;
        border: none;
        height: 10px;
        width: 50px;
    }

    .search-container button:hover {
        background: #ccc;
    }

    .search {
        height: 147px;
    }

    .search-bar {
        width: 75px;
        height: 20px;
    }

    .icon-image {
        width: 40px;
        height: 40px;
    }

    .button {
        font-size: 0.2rem;
        height: 40%;
        text-align: center;
    }

    .ft-main {
        padding: 0;
        font-size: 0.5rem;
        flex-wrap: nowrap;
    }

    .button-search {
        font-size: 0.3rem;
    }

    .ft-title {
        font-size: 0.5rem;
    }

    .ft-main-item {
        min-width: 4rem;
    }

    input[type="email"] {
        padding: 0;
        width: 65px;
        height: 20px;
        font-size: 5px;
        text-align: center;
    }

    input[type="submit"] {
        padding: 0;
        width: 65px;
        height: 20px;
        font-size: 5px;
        text-align: center;
    }

    .email {
        width: 40px;
        height: 10px;
        font-size: 0.3rem;
    }

    .top-submit {
        width: 50px;
        height: 10px;
        font-size: 0.1rem;
        text-align: center;
        padding: 6px;
    }

    .ft-legal {
        font-size: 0.4rem;
    }

}